<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales Platform</title>
</head>
<body>

<h1>Объявления</h1>
<form action="/products" method="get">
    Поиск по названию объявления: <input type="text" name="title"><br>
    <input type="submit" value="Поиск"/>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Подробнее</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.price}"></td>
        <td><a th:href="@{/products/{id}(id=${product.id})}">Подробнее...</a></td>
    </tr>
    </tbody>
</table>
<hr>
<form th:action="@{/users/main}" method="get">
    <input type="submit" value="Мой профиль" class="button"/>
</form>
<hr>
<form th:action="@{/logout}" method="post" class="sign_out">
    <input type="submit" value="Выйти" class="button"/>
</form>
</body>
</html>